.display{
    grid-column: span 4;
    background-color: #0008;
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding-right: 5px;

}
.display span {
    font-size: 0.3em;
}