@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Thin.ttf')
}

body{
    font-family: 'RobotoMono', monospace;
    background: linear-gradient(to right top, #aee9f3, #67898f);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}